*.weights
*.zip
*.cache
*.pt
*.pth
*vscode
RCNN-Model/animais/
YoloV5-Model/images/
YoloV5-Model/labels/
YoloV4Scaled-Model/images/
YoloV4Scaled-Model/labels/
YoloX-Model/Dataset/
YoloX-Model/Dataset_COCO_format/
SSD-Model/Dataset/
YoloV7-Model/BRA-Dataset/
BRA-Dataset_COCO_format/
BRA-Dataset/
BRA-Dataset_VOC_format/